@font-face {
    font-family: Titillium;
    src: url('fonts/TitilliumWeb-Light.ttf');
    src: url('fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'StagSans';
    src: url('fonts/StagSans-Light.ttf');
    src: url('fonts/StagSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.hearder-sec {
    background-size: 100% 100%;
    background-position: center right;
    background-image: url(../images/Banner_mage.png);
    background-color: #fafafa;
    height: 90vh;
    min-height: 520px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.hearder-sec .header-main {
    position: relative;
    height: 100%;
}

.hearder-sec .fullwidth_header_container {
    width: 100%;
    max-width: none;
    height: 10px;
    min-height: 80vh;
    margin: auto;
}

.hearder-sec .row1,
.hearder-sec .col {
    height: 100%;
}

.hearder-sec .column-1 .text-container {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

.hearder-sec .column-1 .text-container .text-content img {
    max-width: 100%;
}

.header-content .text-container h1 {
    font-size: 50px;
    font-family: Nunito, sans-serif;
}

.heading {
    color: #FFFFFF;
    font-family: Titillium;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 40px;
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
}

.subHeading {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 25px;
    letter-spacing: 3.59px;
    line-height: 34px;
    text-align: left;
}

.appointmentBannerBtn {
    background-color: #DD5A6A;
    border-radius: 3.2px;
    padding: 12px 18px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14.4px;
    line-height: 17px;
    box-shadow: unset !important;
    outline: none !important;
    font-weight: bold;
    border: 0px !important;
}

.hearder-sec .column-2 {
    display: flex;
    align-items: center;
}

.hearder-sec .column-2 .text-container .form-container h2 {
    color: #213559;
    font-family: StagSans;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px 0px 25px 0px;
}

.hearder-sec .column-2 .form-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.hearder-sec .column-2 #appointment-form input,
.hearder-sec .column-2 #appointment-form textarea {
    padding: 10px;
    border: 1px solid #D0D0D0 !important;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-width: 0;
    color: #213559;
    font-family: StagSans;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    outline: none !important;
}

.hearder-sec .column-2 #appointment-form .error {
    border: 1px solid #f00 !important;
}

.reCaptcha {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border: 1px solid #D0D0D0 !important;
    margin-bottom: 15px;
}

.checkBoxCont {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.checkBoxImg {
    width: 20%;
}

.checkBoxCont input#check {
    display: inline !important;
    width: 20px !important;
    height: 15px;
    margin: 15px 15px 15px 0px;
}

.checkBoxCont label {
    width: auto !important;
    display: inherit;
    margin: 15px 0px;
    color: #213559;
    font-family: StagSans;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.hearder-sec .column-2 #appointment-form button {
    background-color: #48BFA3;
    color: blanchedalmond;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
}

#appointment-form button:hover:after {
    margin-left: 10px;
    opacity: 1;
    content: ">";
}

.hearder-sec .column-2 #appointment-form button:hover {
    border: 2px solid transparent;
}

.section2 {
    padding: 70px 0px;
}

.section2 .sec2-desc {
    padding: 15px;
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0px;
    font-weight: 500;
}

.section2 .sec2-desc:first-child {
    background-image: radial-gradient(#2EC4B8 0%, #6078EA 100%);
    border-radius: 4px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 700;
}

.section2 .sec2-desc:nth-child(2),
.section2 .sec2-desc:nth-child(3) {
    border-bottom: 2px solid #ECECFF;
    padding-bottom: 30px;
}


/*   Section 3*/

.doctorsHeading,
.sec4Head {
    color: #22B78E;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
}

.doctorsProf {
    width: 98%;
    margin: auto;
    background-color: #F9F9FF;
    border-radius: 4px;
    text-align: center;
    padding: 30px 30px 0px;
}

.doctorsProf:nth-child(even) {
    padding-bottom: 30px;
}

h3.profTitle {
    color: #22B78E;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
}

h3.docName {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.docDesi {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 24px;
}

.docDesc {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0px;
}

button.knowAboutDoc {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 15px;
    background-image: linear-gradient( 90deg, rgb(60, 189, 225) 0%, 14.9038%, rgb(81, 181, 228) 29.8077%, 64.9038%, rgb(98, 145, 233) 100%);
    border: 0px;
    outline: none !important;
    margin: 20px 0px;
}

.doctorsDivider {
    border: 1px solid #ECECFF;
    width: 80%;
    margin: auto;
    background-color: transparent;
    margin-bottom: 30px;
}


/*    section 4    */

.section4 {
    padding: 70px 0px;
}

.section4 ul li {
    list-style-position: outside;
    list-style-image: url(../images/hospital.png);
    padding: 5px 20px;
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 39px;
}


/*  Immune cards   */

.immuneDefCard {
    background-color: #FFFFFF;
    border: 1px solid #E5EAFF;
    border-radius: 4px;
    box-shadow: 3px 5px 29px 0 rgb(187 165 228 / 10%);
    padding: 20px;
    margin: 15px 0px;
    height: 150px;
    min-height: 150px;
}

.immuneDefCard:hover {
    transform: scale(1.1);
    box-shadow: 5px 8px 40px 0 rgb(187 165 228 / 10%);
}

.immuneDesc {
    font-family: StagSans;
    font-size: 14px;
    line-height: 21px;
    padding-top: 10px;
}


/*  Section 5  */

.section5 {
    padding: 0px 0px 70px 0px;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    transition: 0.4s;
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 18px;
    letter-spacing: 1.6px;
    line-height: 22px;
    font-weight: bold;
}

.active,
.accordion:hover {
    background-color: #fff;
}

.accordion:after {
    content: url(../images/accToggle.png);
    ;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url(../images/accToggleBot.png);
}

.panel {
    padding: 0 18px;
    background-color: white !important;
    max-height: 0;
    overflow: hidden;
    border: 0px;
    transition: max-height 0.2s ease-out;
    box-shadow: unset !important;
}

.panel ul {
    margin: 20px 0px;
}

.panel ul li {
    list-style-position: outside;
    list-style-image: url(../images/double-tick.png);
    padding: 5px 20px;
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 30px;
}


/*   Section 6  */

.textSec {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    line-height: 21px
}

.section6 .immuneDefCard {
    width: 90%;
    margin: auto;
    height: auto;
    transform: scale(1);
}

.testimonialSlider {
    margin: 50px 0px;
}

.picksSec {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

.name {
    color: #000000;
    font-family: StagSans;
    font-size: 22px;
    line-height: 26px;
}

.picksSec img:first-child {
    width: 20%;
    max-width: 100%;
}

.nameSec {
    width: 70%;
    margin: 0px 5%;
}

.picksSec img:last-child {
    width: 20%;
}

.slick-prev {
    right: 70px !important;
    top: -60px !important;
    left: unset !important;
}

.slick-next {
    right: 25px !important;
    top: -60px !important;
}

.slick-next:before {
    content: url(../images/right-arrow.png) !important;
}

.slick-prev:before {
    content: url(../images/left-arrow.png) !important;
}

.text-center {
    text-align: center;
}

.bookappointment {
    background-color: #004498;
    border-radius: 3.81px;
    padding: 15px 20px;
    margin: 30px 0px 50px 0px;
    color: #fff !important;
    display: inline-block;
    outline: none;
    text-decoration: none !important;
    font-weight: 600;
}


/*   Footer Section   */

section.section7 {
    background-color: #272727;
    padding: 50px 0px;
}

.footer .row.row1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    padding-bottom: 15px;
}

.footer .row1 .column-1 {
    display: flex;
    justify-content: center;
}

ul.footerIcons {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul.footerIcons li {
    margin: 5px;
}

a.favIcon {
    text-decoration: none !important;
    outline: none;
}

.footer .immuneDesc {
    color: #fff;
    text-align: center;
}

@media(max-width: 768px) {
    .hearder-sec {
        background-image: none;
        height: auto;
    }
    .hearder-sec .column-1 {
        background-image: url(../images/Banner_mage.png);
        background-size: cover;
        background-position: top center;
        height: 90vh;
        margin-bottom: 30px;
    }
    .hearder-sec .column-2 {
        margin-bottom: 30px;
    }
    .hearder-sec .column-2 .form-container {
        width: 90%;
        margin: auto;
    }
    .heading {
        font-size: 22px;
        letter-spacing: 1.28px;
        line-height: 25px;
    }
    .subHeading {
        font-size: 16px;
        letter-spacing: 3.59px;
        line-height: 24px;
    }
    .immuneDefCard:hover {
        transform: scale(1.05);
    }
    .accordion {
        width: 96%;
        margin-left: auto;
    }
    .accordion:after {
        content: url(../images/accToggle.png);
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        margin-right: -8%;
    }
}